---
// Education section component
---

<section id="education" class="education">
    <div class="container">
        <h2 class="section-title" id="educationTitle"></h2>
        <div class="diplomas-section" id="diplomasSection">
            <!-- Education diplomas will be populated by JavaScript -->
        </div>
    </div>
</section>
