---
// Featured Project section component
---

<section id="featured-project" class="featured-project">
    <div class="featured-background"></div>
    <div class="featured-container">
        <div class="featured-content">
            <div class="featured-header">
                <h2 id="featuredTitle"></h2>
                <p id="featuredSubtitle"></p>
            </div>
            
            <div class="featured-showcase">
                <div class="featured-image-container">
                    <img id="featuredImage" src="" alt="">
                </div>
                
                <div class="featured-metrics" id="featuredMetrics">
                    <!-- Metrics will be populated by JavaScript -->
                </div>
            </div>
            
            <div class="featured-cta">
                <button class="btn btn-primary" onclick="openProjectModal('coffeedaily')">
                    <span id="featuredCtaText"></span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</section>
