---
// Navigation component
---

<nav class="navbar">
    <div class="nav-container">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-logo-container">
            <div class="nav-logo" id="navLogo"></div>
        </div>
        <ul class="nav-menu" id="navMenu">
            <!-- Navigation will be populated by JavaScript -->
        </ul>
    </div>
</nav>
