---
// Process section component
---

<section id="process" class="process">
    <div class="container">
        <h2 class="section-title" id="processTitle"></h2>
        <div class="process-content">
            <div class="process-steps" id="processSteps">
                <!-- Process steps will be populated by JavaScript -->
            </div>
            <div class="process-sla" id="processSla">
                <!-- SLA will be populated by JavaScript -->
            </div>
        </div>
    </div>
</section>
