---
// Projects section component
---

<section id="projects" class="projects">
    <div class="container">
        <h2 class="section-title" id="projectsTitle"></h2>
        <div class="project-filters" id="projectFilters">
            <!-- Project filters will be populated by JavaScript -->
        </div>
        <div class="projects-grid" id="projectsGrid">
            <!-- Projects will be populated by JavaScript -->
        </div>
    </div>
</section>
